<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="HomeworkConnectionString" connectionString="Data Source=NUS;Initial Catalog=Homework;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--上传文件的路径-->
    <add key="ResoursePath" value="E:\新建\test"/>
    <add key="RESHomeworkContentPath" value="\Data"/>
    <!--可上传文件的大小-->
    <add key="FileUploadMaxSize" value="20M"/>
    <!--可上传文件类型 -->
    <add key="FileType" value=".zip,.txt,.doc,.rar,.xls,.rtf,.xlsx,.docx,.png"/>
  </appSettings>
</configuration>